h1 {
  color: blue;
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
}

h2 {
 color: blue;
 font-family: 'Griffy'; cursive; 
}

"Conjunction Function" {
  color: red;
  font-size: 14px;
}
